.Board {
	width: 400px;
	line-height: 0;
}

.Square {
	display: inline-block;
	width: 50px;
	height: 50px;
}
.Square-light {
	background-color: lightgrey;
}
.Square-dark {
	background-color: darkgrey;
}